/* Style global */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    overflow: hidden;
    position: relative; /* Nécessaire pour que le background soit en position absolue */
}

/* Image de fond rotative */
.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px);
    z-index: -1;
    transition: transform 0.5s ease; /* Transition fluide pour la rotation */
}

/* Conteneur principal */
.container {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

/* Style pour l'image de l'animation */
.animation-img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

/* Style pour le texte du conseil sportif */
h1 {
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    margin: 20px 120px;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    body {
        background-image: url('Background_mobile.svg');
    }
    h1 {
        font-size: 1.75rem;
        margin: 20px 0;
    }
}

/* Bouton pour rafraîchir */
.refresh-btn {
    background-color: #FFFFFF;
    color: #03045E;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 99px;
    transition: background-color 0.3s ease;
}

.refresh-btn:hover {
    background-color: #03045E;
    color: #FFFFFF;
}

/* Footer */
.footer {
    margin-top: 40px;
    text-align: center;
}

.footer p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.footer a img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.footer a img:hover {
    transform: scale(1.1);
}
